<a href="https://colab.research.google.com/github/charlie-aashutosh/python_codes/blob/master/Functions_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Create a function that can accept two arguments name and age and print its value
def data(name,age):
  print("Name is", name,"Age is",age)

In [3]:
data("Kiran Kumar", 31)

Name is Kiran Kumar Age is 31

In [4]:
#Write a function such that it can accept a variable length of  argument and print all arguments value
def func(*args):
  print(*args)

In [5]:
func(1,2,4,567,99,23)

1 2 4 567 99 23

In [6]:
#OR

def func(*args):
  for i in args:
    print(i)

In [7]:
func(23,57,12,0,12)

23
57
12
0
12

Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of it. And also it must return both addition and subtraction in a single return call

In [8]:
def calculation(a,b):
  s=a+b
  d=a-b

  print("Addition is ",s, "and difference is",d)

In [9]:
calculation(12,8)

Addition is  20 and difference is 4

In [10]:
#OR
def calculation(a, b):
    return a+b, a-b

res = calculation(40, 10)
print(res)

(50, 30)

Create an inner function to calculate the addition in the following way

    Create an outer function that will accept two parameters a and b
    Create an inner function inside an outer function that will calculate the addition of a and b
    At last, an outer function will add 5 into addition and return it

In Python, we can create a nested function inside a function. We can use the nested function to perform complex tasks multiple times within another function or avoid loop and code duplication

In [11]:
def outerFun(a, b):
    square = a**2
    def innerFun(a,b):
        return a+b
    add = innerFun(a, b)
    return add+5

result = outerFun(5, 10)
print(result)

20

In [ ]:
#Write a recursive function to calculate the sum of numbers from 0 to 10
def calculateSum(num):
    if num:
        return num + calculateSum(num-1)
    else:
        return 0

res = calculateSum(10)
print(res)

55

In [ ]:
#Write a Python function to find the Max of three numbers
def max_of_two( x, y ):
    if x > y:
        return x
    return y
def max_of_three( x, y, z ):
    return max_of_two( x, max_of_two( y, z ) )

In [ ]:
max_of_three(12,5,26)

26

In [ ]:
#Write a Python function to sum all the numbers in a list.

def sum(numbers):
    total = 0
    for x in numbers:
        total += x
    return total

In [ ]:
numbers=[2,4,6]
sum(numbers)

12

In [ ]:
#Write a Python function to multiply all the numbers in a list.
list=[2,4,6]

def mul(list):
  mul=1
  for i in list:
    mul=mul*i
  return mul

In [ ]:
mul(list)

48

In [13]:
#Write a Python program to reverse a string.

def string_reverse(str1):

    rstr1 = ''
    index = len(str1)
    while index > 0:
        rstr1 += str1[ index - 1 ]
        index = index - 1
    return rstr1

In [16]:
str1=('Kiran','Mamtha ')
string_reverse(str1)

'Mamtha Kiran'

Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print("The factorial is ", factorial(n))

Input a number to compute the factiorial : 4
The factorial is  24

Write a Python function to check whether a number is in a given range.

In [17]:
def test_range(n):
    if n in range(3,9):
        print( " %s is in the range"%str(n))
    else :
        print("The number is outside the given range.")

In [21]:
test_range(5)

 5 is in the range

Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

In [29]:
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

In [30]:
s="Kiran Kumar Kota"
string_test(s)

Original String :  Kiran Kumar Kota
No. of Upper case characters :  3
No. of Lower case Characters :  11

Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [31]:
def unique_list(l):
  x = []
  for a in l:
    if a not in x:
      x.append(a)
  return x

In [32]:
x=[2,3,2,56,7,12,65,56,93]
unique_list(x) #no repetition of elements

[2, 3, 56, 7, 12, 65, 93]

Write a Python function that takes a number as a parameter and check the number is prime or not.

Note : A prime number (or a prime) is a natural number greater than 1 and that has no positive divisors other than 1 and itself.

In [ ]:
def test_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True

In [ ]:
test_prime(43)

True

Write a Python program to print the even numbers from a given list.

In [ ]:
def is_even_num(l):
    enum = []
    for n in l:
        if n % 2 == 0:
            enum.append(n)
    return enum

In [ ]:
l=[2,12,67,36,89,11,18]
is_even_num(l)

[2, 12, 36, 18]